<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary">Sign up</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #passinput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary is-pulled-right" (click)="onSignup(emailInput.value, passinput.value)">
                Sign up
              </button>
            </p>
          </div>
          <br><br><br>
    <p class="has-text-grey">Already have an account? <a routerLink="/login"> Login!</a></p>
    </div>
</div>
