p{
    position: absolute;
    text-align: center;
    top: 95%;
    left: 25%;
    right: 25%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    opacity: 0.6;
    font-family: 'Nunito', sans-serif;
}